// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: #3e4551;
    padding: 0.35rem 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    flex: 1;
}

.mar-top-20 {
    margin: 20px 0;
}

.toggleSearchBtn {
    margin: 10px 0 0 0;
    display: block;
}
a.boldlink {
    font-weight: bold;
}
a.baselink {
    color: #000;
}
a.baselink:hover, a.baselink:focus {
    color: #c03 !important;
    text-decoration: none;
}
a.baselink:hover {
    color: #000;
    text-decoration: none;
}
.right {
    margin-left: auto;
    margin-right: 10px;
}

.msk{ -webkit-text-security: disc !important; }
